


@media (min-width: 1045px) {

    /* HEADER SECTION */
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-inline: 70px;
    }

    .logo {
        font-size: 28px;
    }


    /* HOMEPAGE STYLES */
    main {
        gap: 40px;
    }

    .posts {
        flex: 0 1 67%;
    }

    .post-box {
        background-color: #fff;
        padding: 20px;
        margin-bottom: 25px;
        height: max-content;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    .post-box  h2 a {
        color: #444;
    }
    
    .post-box img {
        width: 100%;
    }
    
    .button-box {
        display: flex;
        width: 100%;
        justify-content: end;
    }
    
    .button-box a {
        background-color: rgb(10, 28, 143);
        text-decoration: none;
        color: #ffffff;
        font-weight: bold;
        padding: 12px 24px;
        border-radius: 10px;
        width: max-content;
    }
    
    article img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 20px 0;
    }
    

    
    /* SIDEBAR AND FOOTER */
    
    .sidebar {
        flex: 0 1 33%;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }
    
    footer {
        text-align: center;
        padding: 20px;
        background-color: #fff;
        box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    }

    /* FULL POST PAGE */
    .full-post {
        flex: 3;
        padding: 40px;
    }
}