
@import url('/css/fonts.css');

/* HEADER SECTION */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 24px;
    font-weight: 800;
}

header a {
    color: #444;
    text-decoration: none;
}

header a:hover {
    color: #5a5959;
}

@media (max-width: 810px) {
    nav ul {
        display: none;
    }
}


/* HOMEPAGE STYLES */
main {
    display: flex;
    flex-direction: column;
    width: 95%;
    max-width: 1600px;
    margin: 20px auto;
    padding-top: 50px;
    gap: 20px;
}

.posts {
    flex: 1;
}

.post-box {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 25px;
    height: max-content;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.post-box  h2 a {
    color: #444;
}

.post-box img {
    width: 100%;
    border-radius: 20px;
    aspect-ratio: 16/9;
}

.button-box {
    display: flex;
    width: 100%;
    justify-content: end;
}

.button-box a {
    background-color: rgb(10, 28, 143);
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    padding: 12px 24px;
    border-radius: 10px;
    width: max-content;
}
article img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px 0;
}


/* SIDEBAR AND FOOTER */
.sidebar {
    flex: 1;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: grid; 
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 30px;
    height: fit-content; 
}

.sidebar {
    font-family: 'Raleway';
}

.joseph-olu {
    background-color: #3D22CF;
    display: grid;
    gap: 20px;
    width: 100%;
    padding: 20px;
    border-radius: 20px;
}

.joseph-olu p {
    color: #fff;
    font-weight: 400;
    font-family: 'Raleway';
}

.josepholu-flex {
    display: flex; 
    align-items: baseline;
    gap: 25px;
}

.josepholu-img {
    overflow: hidden; 
    border-radius: 0.5rem; 
    height: 110px;
    width: 110px;
    border: 1px solid rgba(255,255,255,0.5);
} 

.josepholu-img img {
    width: 100%;
}

.josepholu-LI {
    height: 35px;
    width: 35px;
}

.josepholu-LI img {
    width: 100%;
}

.josepholu-body {
    color: #fff;
    display: grid;
    gap: 0.75rem;
}

.josepholu-body p {
    color: #fff;
    padding-bottom: 10px;
    border-bottom: 1px solid #666;
}

.social-icons {
    background-color: rgb(10, 28, 143);
    padding-block: 30px;
    padding-inline: 25px;
    display: grid;
    gap: 15px;
    border-radius: 10px;
}

.social-icons p {
    color: #fff;
}

.icons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.icons div {
    height: 35px;
    width: 35px;
}

.icons div img {
    width: 100%;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}


/* FULL POST */
.full-post {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    text-align: justify;
}

.full-post h1, h2, h3, h4 {
    margin-bottom: 10px;
}

.full-post img {
    max-width: 100%;
    border-radius: 15px;
    aspect-ratio: 16/9;
}

.full-post p {
    margin-bottom: 15px;
}

.full-post li {
    margin-left: 25px;
    padding-left: 5px;
}

.post-meta {
    margin-bottom: 30px;
}
.post-meta h1 {
    width: max-content;
    border-bottom: 2px solid rgb(10, 28, 143);
}